<svg width="23px" height="23px" viewBox="0 0 23 23" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>16E8E211-7522-4D7B-8436-D1214FB299B1</title>
    <defs>
        <polygon id="path-1" points="0 0 23 0 23 23 0 23"></polygon>
    </defs>
    <g id="Home" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Homepage---Desktop---01" transform="translate(-210.000000, -6617.000000)">
            <g id="Group-25" transform="translate(0.000000, 6322.000000)">
                <g id="Group-49" transform="translate(167.000000, 138.000000)">
                    <g id="Group-33-Copy-2" transform="translate(0.000000, 157.000000)">
                        <g id="instagram" transform="translate(43.000000, 0.000000)">
                            <g id="Group-3">
                                <mask id="mask-2" fill="white">
                                    <use xlink:href="#path-1"></use>
                                </mask>
                                <g id="Clip-2"></g>
                                <path d="M20.783379,6.1528633 C20.731089,4.5413568 20.0002168,1.96507849 17.7814551,1.96507849 C16.9442202,1.96507849 6.22892073,1.92895137 5.29304779,1.92895137 C4.46472596,1.92895137 3.12835882,2.13268464 2.33390668,4.21088248 C1.47409198,6.4608322 2.20258736,14.7380887 2.20258736,16.5367455 C2.20258736,19.053799 4.3048848,21.0544124 6.31864569,21.0544124 C7.47972234,21.0544124 15.4765338,21.1503565 18.1290651,20.9898574 C18.6745453,20.9572837 20.6627554,20.2525087 20.8273502,18.3460628 C21.1149454,15.0122994 20.8873649,9.35633212 20.783379,6.1528633 M0.0634492143,16.2992541 C0.0367099875,15.8941565 -0.0292467722,6.94588322 0.0147244009,5.85437036 C0.168623507,2.00061336 3.20560547,0.0100682141 4.46413175,0.0100682141 C5.52359934,0.0100682141 16.9186694,0 18.1777899,0 C20.3353484,0 21.5380194,1.33966472 22.0139777,2.21619159 C22.3645586,2.86055729 22.9730246,4.34236151 22.9730246,5.44631157 C22.9730246,6.72556701 22.9979812,16.3667704 22.9979812,16.9347361 C22.9979812,17.6128599 23.093054,19.4926547 21.9783254,21.034276 C20.3466383,23.2901482 16.3197107,22.983956 15.3683885,22.983956 C11.5922154,22.983956 7.70849128,23.0200831 5.55093277,22.983956 C3.56153429,22.9507901 1.54539659,20.6007505 1.18590254,20.105039 C0.399175063,19.0206331 0.156739406,17.7378242 0.0634492143,16.2992541" id="Fill-1" fill="#748C81" mask="url(#mask-2)"></path>
                            </g>
                            <path d="M7.70076662,11.176908 C7.6288678,12.1446411 8.24387002,13.4351492 8.63604535,13.7934592 C9.09239482,14.210994 10.5060086,15.0851519 12.4841172,15.0123054 C14.4259793,14.9406434 14.9637348,12.5829045 15.0011698,11.5713451 C15.0374163,10.6036121 14.7135745,9.67141392 13.7236289,8.55502665 C12.9672059,7.70159745 10.6890238,7.42205644 9.28313464,8.27370891 C7.97766616,9.06495208 7.77801327,10.1381053 7.70076662,11.176908 M15.7659116,15.6270587 C14.4610374,17.0555606 10.0686737,17.4499977 7.59856335,15.6495641 C6.63357436,14.9459736 5.71017973,13.3705942 5.71017973,10.6841578 C5.71017973,8.24291202 8.24565264,6.65864892 8.82381414,6.28079477 C10.0561954,5.47533764 12.5488856,5.49725081 13.7069912,5.9076786 C14.3719066,6.1439855 16.9697711,7.49845642 17.48257,9.95865415 C17.8812816,11.8692458 16.8081473,14.485797 15.7659116,15.6270587" id="Fill-4" fill="#748C81"></path>
                            <path d="M17.5360544,4.07406729 C18.2401874,4.11670914 18.7969575,4.72909346 18.8005227,5.2763305 C18.8052764,6.01012564 18.2271149,6.62487894 17.5711125,6.62014096 C16.6269207,6.61362623 16.2739629,6.00953339 16.2739629,5.46348084 C16.2739629,4.646771 16.7344718,4.02550297 17.5360544,4.07406729" id="Fill-6" fill="#748C81"></path>
                        </g>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>